//for example on how to use the colors correctly in the design please see: https://prnt.sc/JCB8RLpmShK2

$color-primary: #FF9800;
$color-secondary: #FB8C00;
$color-accent: #F44336; 
$color-icon: #FFFFFF;
$color-divider: #BDBDBD;

//text that goes on the primary color
$color-primary-text: #FFFFFF;

//text that goes on the secondary color
$color-secondary-text: #FFFFFF;

//text for content
$color-content-text: #000000;