@import "../../../assets/css/colors.scss";
.stations-table{
    background-color: #fff;
    width: 850px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid $color-divider;
    border-radius: 5px;
    .row{
        display: flex;
        height: 30px;
        border: 1px solid $color-divider;
        cursor: pointer;
        &:hover{
            .col{
                background-color: #f0f0f0;
            }
        }

        &:first-child{
            height: 40px;
            .col{
                height: 40px;
                font-size: 18px;
            }
        }
        .col{
            padding: 1px;
            border: solid $color-divider;
            border-width: 0 1px;
            width: 290px;
            text-align: center;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}